In [5]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.firefox.service import Service
import os
import time

while True:
    
    #Lendo RA do caboclo
    ra = int(input("Qual seria seu RA?\n"))

    #Parar programa se RA = 0
    if ra == 0:
        break
    
    #geckodriver_path = os.path.abspath("geckodriver")
    #Mostrar para a Kitty jeito mais bonitinho
    url = f"https://minhagrade-ufabc.up.railway.app/?ra={ra}"
    service = Service(executable_path="geckodriver")
    options = webdriver.FirefoxOptions()

    driver = webdriver.Firefox(service= service, options= options)
    
    driver.get(url)

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

tables = pd.read_html('https://minhagrade-ufabc.up.railway.app/?ra=11202130465')
print(f'Total tables: {len(tables)}')

#Semana 1
semana_1 = tables[0]

#Semana 2
semana_2 = tables[1]

semana_1
#segunda = semana_1["Seg"]

Total tables: 2

,Unnamed: 0,Seg,Ter,Qua,Qui,Sex
0,08:00 - 10:00,Introdução às Equações Diferenciais Ordinárias...,Programação Estruturada A1 (SA) • A-108-0,Bases Epistemológicas da Ciência Moderna B1 (S...,NaN,Transportes e Meio Ambiente A1 (Santo André) •...
1,10:00 - 12:00,NaN,Comunicação e Redes C1 (SA) • S-204-0,Introdução às Equações Diferenciais Ordinárias...,Programação Estruturada A1 (SA) • 407-2,Bases Epistemológicas da Ciência Moderna B1 (S...
2,12:00 - 14:00,NaN,NaN,NaN,NaN,NaN
3,14:00 - 16:00,NaN,NaN,NaN,NaN,NaN
4,16:00 - 18:00,NaN,NaN,NaN,NaN,NaN
5,18:00 - 19:00,NaN,NaN,NaN,NaN,NaN
6,19:00 - 21:00,NaN,NaN,NaN,NaN,NaN
7,21:00 - 23:00,NaN,NaN,NaN,NaN,NaN

In [25]:
from datetime import datetime

now = datetime.now()

formatted_date_time = now.strftime('%A')
formatted_date_time = str(formatted_date_time)
print(formatted_date_time)
print(now)

Tuesday
2024-01-09 10:07:28.024836